<!DOCTYPE html>
<html>
  <head>
    <title>Doggos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="h-full font-sans antialiased font-normal leading-normal bg-gray-50">
    <h1 class="text-3xl font-bold ml-5 mt-5">Doggos 🐕</h1>
    <main class="main flex flex-col container mx-auto mt-28 px-5">
      <%= yield %>
    </main>
  </body>
</html>
